<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Appointment Data</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Doctor</th>
                    <th>Date</th>
                    <th>Slots</th>
                    <th>Fee</th>
                    <th></th>
                </tr>
                <tr th:each="ob:${appointments}">
                    <td th:text="${ob.appId}"></td>
                    <td th:text="${ob.appDoctor.docName}"></td>
                    <td th:text="${ob.appDate}"></td>
                    <td th:text="${ob.appSlots}"></td>
                    <td>[[${ob.appFee}]]</td>
                    <td><a th:href="@{/app/edit(appId=${ob.appId})}" class="btn btn-warning">Edit</a> | <a th:href="@{/app/delete(appId=${ob.appId})}" class="btn btn-danger"> Delete</a></td>
                </tr>
            </table>
        </div>
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>