<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header text-white text-center bg-primary">
            <h1>Update Appointment</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/app/update}" method="post" th:object="${appointment}">
                <!-- row0 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appId">Id</label>
                    </div>
                    <!-- // TODO: Need to update after AppointmentRegister page -->
                    <div class="col-5">
                        <input type="text" th:field="*{appId}" class="form-control" readonly>
                    </div>
                    <div class="col-4">
                        <span id="appIdError"></span>
                    </div>
                </div>
                <!-- row1 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appDoctor">Doctor</label>
                    </div>
                    <div class="col-5">
                        <select name="appDoctor.docId" th:field="*{appDoctor}" class="form-control">
                            <option value="">-SELECT-</option>
                            <option th:each="ob:${doctors}" th:text="${ob.value}" th:value="${ob.key}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="appDoctorError"></span>
                    </div>
                </div>
                <!-- row2 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appDate">Date</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{appDate}" class="form-control datepicker" autocomplete="off" readonly>
                    </div>
                    <div class="col-4">
                        <span id="appDateError"></span>
                    </div>
                </div>
                <!-- row3 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appSlots">Slots</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{appSlots}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="appSlotsError"></span>
                    </div>
                </div>
                <!-- row4 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appDetails">Details</label>
                    </div>
                    <!-- // TODO: Need to update after AppointmentRegister page -->
                    <div class="col-5">
                        <input type="text" th:field="*{appDetails}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="appDetailsError"></span>
                    </div>
                </div>
                <!-- row5 -->
                <div class="row">
                    <div class="col-3">
                        <label for="appFee">Fee</label>
                    </div>
                    <!-- // TODO: Need to update after AppointmentRegister page -->
                    <div class="col-5">
                        <input type="text" th:field="*{appFee}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="appFeeError"></span>
                    </div>
                </div>
                <button type="submit" class="byn btn-success">Update</button>
            </form>
        </div>
        
    </div>
    <script>
        $(".datepicker").datepicker({
            startDate : new Date()
        })
    </script>
</body>
</html>