<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Doctor Register</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/doc/save}" method="post">
                <div class="row">
                    <div class="col-3">
                        <label for="docName">Name</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docName" id="docName" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docNameError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docEmailId">Email</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docEmailId" id="docEmailId" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docEmailIdError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="specialization">Specialization</label>
                    </div>
                    <div class="col-5">
                        <select name="specialization.specId" id="specialization" class="form-control">
                            <option value="">-SELECT-</option>
                            <option th:each="ob:${specializations}" th:text="${ob.value}" th:value="${ob.key}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="specializationError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docAddress">Address</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docAddress" id="docAddress" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docAddressError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docMobile">Mobile</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docMobile" id="docMobile" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docMobileError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docGender">Gender</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docGender" id="docGender" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docGenderError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docNote">Note</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docNote" id="docNote" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docNoteError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docPhoto">Photo</label>
                    </div>
                    <div class="col-5">
                        <input type="text" name="docPhoto" id="docPhoto" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docPhotoError"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Create</button>
            </form>
        </div>
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>