<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Specialization Data</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Specialization</th>
                    <th>Note</th>
                </tr>
                <tr th:each="ob:${doctors}">
                    <td th:text="${ob.docPhoto}"></td>
                    <td th:text="${ob.docName}"></td>
                    <td th:text="${ob.specialization.specName}"></td>
                    <td th:text="${ob.docNote}"></td>
                    <td><a th:href="@{/doc/edit(docId=${ob.docId})}" class="btn btn-warning">Edit</a> | <a th:href="@{/doc/delete(docId=${ob.docId})}" class="btn btn-danger"> Delete</a></td>
                </tr>
            </table>
        </div>
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>