<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Doctor Register</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/doc/update}" method="post" th:object="${doctor}">
                <div class="row">
                    <div class="col-3">
                        <label for="docId">Id</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docId}" class="form-control" readonly>
                    </div>
                    <div class="col-4">
                        <span id="docIdError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docName">Name</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docName}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docNameError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docEmailId">Email</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docEmailId}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docEmailIdError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="specialization">Specialization</label>
                    </div>
                    <div class="col-5">
                        <select th:field="*{specialization}" name="specialization.id" class="form-control">
                            <option value="">-SELECT-</option>
                            <option th:each="ob:${specializations}" th:value="${ob.key}" th:text="${ob.value}"></option>
                        </select>
                    </div>
                    <div class="col-4">
                        <span id="specializationError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docAddress">Address</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docAddress}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docAddressError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docMobile">Mobile</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docMobile}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docMobileError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docGender">Gender</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docGender}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docGenderError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docNote">Note</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docNote}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docNoteError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="docPhoto">Photo</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{docPhoto}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="docPhotoError"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
</body>
</html>