<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Patient Register</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/pat/save}" method="post">
            <!-- row1 -->
            <div class="row">
                <div class="col-3">
                    <label for="patFirstName">First Name</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patFirstName" id="patFirstName" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patFirstNameError"></span>
                </div>
            </div>
            <!-- row2 -->
            <div class="row">
                <div class="col-3">
                    <label for="patLastName">Last Name</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patLastName" id="patLastName" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patLastNameError"></span>
                </div>
            </div>
            <!-- row3 -->
            <div class="row">
                <div class="col-3">
                    <label for="patGender">Gender</label>
                </div>
                <div class="col-5">
                    <input type="radio" name="patGender" id="patGender1" value="Male"> Male
                    <input type="radio" name="patGender" id="patGender2" value="Female"> Female
                </div>
                <div class="col-7">
                    <span id="patGenderError"></span>
                </div>
            </div>
            <!-- row4 -->
            <div class="row">
                <div class="col-3">
                    <label for="patPhone">Mobile</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patPhone" id="patPhone" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patPhoneError"></span>
                </div>
            </div>
            <!-- row5 -->
            <div class="row">
                <div class="col-3">
                    <label for="patDob">DOB</label>
                </div>
                <div class="col-5">
                    <input type="date" name="patDob" id="patDob" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patDobError"></span>
                </div>
            </div>
            <!-- row6 -->
            <div class="row">
                <div class="col-3">
                    <label for="patMaritalStatus">Marital Status</label>
                </div>
                <div class="col-5">
                    <select name="patMaritalStatus" id="patMaritalStatus" class="form-control">
                        <option value="">-SELECT-</option>
                        <option value="Single">Single</option>
                        <option value="Married">Married</option>
                        <option value="Widow">Widow</option>
                    </select>
                </div>
                <div class="col-7">
                    <span id="patMaritalStatusError"></span>
                </div>
            </div>
            <!-- row7 -->
            <div class="row">
                <div class="col-3">
                    <label for="patEmailId">Email Id</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patEmailId" id="patEmailId" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patEmailIdError"></span>
                </div>
            </div>
            <!-- row8 -->
            <div class="row">
                <div class="col-3">
                    <label for="patPresentAddress">Present Address</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patPresentAddress" id="patPresentAddress" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patPresentAddressError"></span>
                </div>
            </div>
            <!-- row9 -->
            <div class="row">
                <div class="col-3">
                    <label for="patCommunicationAddress">Communication Address</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patCommunicationAddress" id="patCommunicationAddress" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patCommunicationAddressError"></span>
                </div>
            </div>
            <!-- row10 -->
            <div class="row">
                <div class="col-3">
                    <label for="patPastMedicalHistory">Past Medical History</label>
                </div>
                <div class="col-5">
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory1" value="Ulcer"> Ulcer
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory2" value="Piles"> Piles
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory3" value="Anaemia"> Anaemia
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory4" value="Asthma"> Asthma
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory5" value="Diabetese"> Diabetese
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory6" value="Cancer"> Cancer
                    <input type="checkbox" name="patPastMedicalHistory" id="patPastMedicalHistory7" value=""> Other
                </div>
                <div class="col-7">
                    <span id="patPastMedicalHistoryError"></span>
                </div>
            </div>
            <!-- row11 -->
            <!-- // TODO: will only appear if other is clicked -->
            <div class="row">
                <div class="col-3">
                    <label for="patOtherDetails">Other Details</label>
                </div>
                <div class="col-5">
                    <input type="text" name="patOtherDetails" id="patOtherDetails" class="form-control">
                </div>
                <div class="col-7">
                    <span id="patOtherDetailsError"></span>
                </div>
            </div>
                <button type="submit" class="byn btn-success">Create</button>
           </form>
           </div> 
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>