<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Specialization Data</h1>
        </div>
        <div class="card-body">
            <table class="table table-hover">
                <tr>
                    <th>Id</th>
                    <th>Code</th>
                    <th>Name</th>
                    <th>Note</th>
                </tr>
                <tr th:each="ob:${specializations}">
                    <td th:text="${ob.specId}"></td>
                    <td th:text="${ob.specCode}"></td>
                    <td th:text="${ob.specName}"></td>
                    <td th:text="${ob.specNote}"></td>
                    <td><a th:href="@{/spec/edit(specId=${ob.specId})}" class="btn btn-warning">Edit</a> | <a th:href="@{/spec/delete(specId=${ob.specId})}" class="btn btn-danger"> Delete</a></td>
                </tr>
            </table>
        </div>
        <div class="card-footer" th:if="${message}!=null">
            <span th:text="${message}"></span>
        </div>
    </div>
</body>
</html>