<html xmlns:th="https://www.thymeleaf.org">
<div th:replace="fragments/commonUi :: header"></div>
<body>
    <div th:replace="fragments/commonUi :: menu"></div>
    <div class="container">
        <div class="card-header bg-primary text-white text-center">
            <h1>Update Specialization</h1>
        </div>
        <div class="card-body">
            <form th:action="@{/spec/update}" method="post" id="specReg" th:object="${specialization}">
                <div class="row">
                    <div class="col-3">
                        <label for="specId">Id</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{specId}" class="form-control" readonly>
                    </div>
                    <div class="col-4">
                        <span id="specIdError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="specCode">Code</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{specCode}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="specCodeError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="specName">Name</label>
                    </div>
                    <div class="col-5">
                        <input type="text" th:field="*{specName}" class="form-control">
                    </div>
                    <div class="col-4">
                        <span id="specNameError"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label for="specNote">Note</label>
                    </div>
                    <div class="col-5">
                        <textarea th:field="*{specNote}" cols="30" rows="2" class="form-control"></textarea>
                    </div>
                    <div class="col-4">
                        <span id="specNoteError"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Update</button>
            </form>
        </div>
    </div>
    <script th:src="@{/jsForValidations/specValidation.js}"></script>
</body>
</html>